@import "tailwindcss/base";

@import './utils/variables.css';
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  @apply bg-lightGrey font-sans text-black m-0 overflow-x-hidden;
}

h1 {
  @apply font-serif text-xxl mt-1 mb-1;
}

h2 {
  @apply font-serif mt-1 mb-1 text-large capitalize;
}

h3 {
  @apply font-serif mt-1 mb-1 text-big capitalize;
}

a {
  @apply font-bold text-orange;
}

ul {
  list-style-type: none;
  @apply p-0;
}

.title {
  @apply p-12 grid grid-cols-1;
}

.title p {
  @apply m-0;
}

.title h1 {
  @apply text-orange;
}

/* @screen md {
  .title {
    @apply grid-cols-2 p-12;
  }
} */

/* MAP */

.map__wrapper p {
  @apply pl-12 pr-12 w-1/2;
}

.map {
  @apply pr-12 pl-8 pt-6 pb-6 uppercase;
  display: -ms-grid;
  display: grid;
  grid-template-columns: 17% 82%;
}

.map__chart {
  height: 75vh;
  width: 100%;
}

.map__legend {
  width: 100%;
  color: #fff;
}

.main-data {
  @apply grid grid-cols-1 gap-6;
}

.main-data h1 {
  @apply text-blue;
}

@screen md {
  .main-data {
    @apply grid grid-cols-similar-fractions pl-12 pr-12;
  }
}

@screen md {
  .main-data__1 {
    @apply col-start-2 col-end-2;
  }
}

.slider-wrapper {
  @apply relative pt-12 pb-12;
}

.slider-wrapper h2 {
  @apply pl-12 pt-12 pb-6;
}

.slider {
  @apply grid bg-orange text-lightGrey pl-12 pr-12;
}

@screen md {
  .slider {
    @apply grid-cols-two-thirds;
  }
}

.slider__text {
  @apply pt-6 pb-6 pl-16 pr-16 grid;
}

.slider__text > li > hgroup {
  @apply self-end flex-1;
}

.slider__text > li > img {
  @apply max-w-full opacity-25 mr-12;
}

.slides {
  grid-column: 1;
  grid-row: 1;
  align-self: center;
  opacity: 0;
  transform: translateX(-150%);
  transition: all .9s ease-in-out;
  background: var(--brand-blue);
}

.slides[data-status='active'] {
  opacity: 1;
  transform: translateX(0);
  transition: all .9s ease-in-out;
}

.slider__nav {
  @apply flex items-end;
}

.slider__nav button{
  @apply bg-orange border-0;
}

.slider__nav button:focus {
  @apply border-0 outline-none;
}

.covid-data {

}

.covid-data__chart .chart__heading {
  @apply p-12;
}

.covid-data__main {
  @apply grid p-12;
}

.covid-data__main h1,
.covid-data__main h2,
.covid-data__main h3 {
  @apply text-blue;
}

@screen md {
  .covid-data__main {
    @apply grid-cols-similar-reverse gap-4;
  }
}

.main__who {
  @apply flex flex-row;
}

.main__who .main__info {
  border-left: 2px solid black;
  @apply p-4 ml-4;

}

.main__who h2 {
  @apply uppercase;
}

.main__who p:last-of-type,
.main__hubei p {
  @apply inline;
}

.main__who h3:last-child,
.main__hubei h3 {
  @apply inline p-2 leading-relaxed;
}

.hubei__info {
  @apply grid grid-rows-two-thirds-inverse gap-20;
}

.covid-data__countries {
  @apply p-12;
}
  
@screen md {
  .covid-data__countries {
    @apply grid grid-cols-three-indent-half gap-20;
  }
}

.country {
  @apply grid grid-cols-tho-thirds-inverse grid-rows-2;
  grid-template-areas: "text icon"
  ". stats";
}

.country img {
  max-width: 100%;
}

.country:first-of-type {
  @apply col-start-2 col-end-2;
}

.country__top--text {
  grid-area: text;
}

.country__bottom {
  grid-area: stats;
  @apply relative;
}

.country__bottom:before {
  content: "";
  position: absolute;
  border-top: 2px solid black;
  width: 160%;
  left: -7.5rem;
}

.country__bottom h1,
.country__bottom p {
  @apply m-0;
}

.country__bottom h1:first-of-type,
.country__bottom p:first-of-type {
  @apply pt-4;
}

/* .country__bottom.margin {
  @apply mt-8;
} */

.covid-data__violence {
  @apply bg-blue text-white p-6 relative;
}

@screen md {
  .covid-data__violence {
    @apply pl-16 pr-16 mt-32 grid grid-cols-similar gap-16;
  }
}

@screen md {
  .violence__reports hgroup {
    border-bottom: 2px solid white;
  }
}

.violence__reports h2 {
  @apply inline text-orange mr-2;
}

.violence__shame {
  @apply pt-6 pb-10;
}

.violence__shame h3:first-of-type {
  @apply inline mr-2 ml-2;
}

.violence__shame h3:nth-child(2) {
  @apply text-orange;
}

@screen md {
  .violence__percentage {
    @apply flex flex-row;
  }
}

.violence__percentage li {
  @apply flex-1;
}
.violence__percentage li:first-of-type {
  @apply mr-12;
}

.violence__percentage h1 {
  @apply text-orange;
}

.type-violence__chart {
  @apply h-full text-white;
}

footer {
  @apply bg-blue text-white p-16;
}

/* svgs */

.custom-shape-divider-top-1593201312 {
    position: absolute;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-top-1593201312 svg {
    position: relative;
    display: block;
    width: calc(135% + 1.3px);
    height: 204px;
}

.custom-shape-divider-top-1593201312 .shape-fill {
    fill: #FF5933;
}

.custom-shape-divider-bottom-1593201417 {
    position: absolute;
    top: 3rem;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    z-index: -1;
    opacity: .5;
}

.custom-shape-divider-bottom-1593201417 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 140px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1593201417 .shape-fill {
    fill: #FF5933;
}

.custom-shape-divider-bottom-1593201757 {
    position: absolute;
    top: -3rem;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    z-index: -2;
}

.custom-shape-divider-bottom-1593201757 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 245px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1593201757 .shape-fill {
    fill: #FF9C66;
}

.custom-shape-divider-bottom-1593202295 {
    position: absolute;
    left: 0;
    top: -4rem;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    z-index: 0;
    opacity: .5;
}

.custom-shape-divider-bottom-1593202295 svg {
    position: relative;
    display: block;
    width: calc(177% + 1.3px);
    height: 72px;
}

.custom-shape-divider-bottom-1593202295 .shape-fill {
    fill: #171AA8;
}

.custom-shape-divider-bottom-1593202630 {
    position: absolute;
    top: -14.3rem;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    z-index: -1;
}

.custom-shape-divider-bottom-1593202630 svg {
    position: relative;
    display: block;
    width: calc(217% + 1.3px);
    height: 235px;
}

.custom-shape-divider-bottom-1593202630 .shape-fill {
    fill: #7854F2;
}