:root {


  /* widths */
  --tiny: .5rem;
  --small: 1rem;
  --medium: 1.5rem;
  --big: 2rem;
  --large: 2.5rem;
  --huge: 4.5rem;
  --xxl: 5rem;
  --hugest: 8rem;
  --max: 10rem;

  --max-width-large: 70rem;
  --max-width-big: 61.50rem;
  --max-width-mid: 50rem;
  --max-width-small: 15rem;
}
